<%- include('partials/header') %>
<div class="container">
    <h1>About</h1>
    <p> <%= aboutContent1 %> </p>
    <p> <%= aboutContent2 %> </p>
    <p> <%= aboutContent3 %> </p>
    </div>
<%- include('partials/footer') %>
